	<footer>
		<div class='container'>
			<nav>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/work">Work</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/careers">Careers</a></li>
					<li><a href="/contact">Contract</a></li>
				</ul>
			</nav>
			<div class='request'>
				<img src="images/icons/motor.png">
			</div>
			<div class='newsletter'>
				<h2>Newsletter Sign Up</h2>
				<p>Sign up for Motor Oil Libation. Receive valuable motorcycle tips every month.</p>
				<div>
					<form id="signup" method="post" action="/newsletter">
    					<input type="text" name="name" placeholder="Name*"/>
    					<input type="text" name="email" placeholder="Email*"/>
					</form>

					<input type="submit" form="signup" />
				</div>
			</div>
			<div class='social-media'>
				<div class='images'>
					<a href="#" target='blank'><img src="images/icons/socialmedia/social_facebook.svg"></a>
					<a href="#" target='blank'><img src="images/icons/socialmedia/social_googleplus.svg"></a>
					<a href="#" target='blank'><img src="images/icons/socialmedia/social_twitter.svg"></a>
				</div>
			</div>
			<div class='copyright'>
				<p>All Rights Reserved © Motors Worldwide 2015-16. Privacy Policy</p>
			</div>
		</div>
	</footer>