<!DOCTYPE html>
<html>
<head>
	<% include partials/links.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/careers.css">
	<% include partials/scripts.ejs %>
	<script type="text/javascript" src="/javascripts/careers.js"></script>
	
</head>
<body>
	<% include partials/header.ejs %>

	<div class='career-header'>
		<div>
			<h2>Work at the Shop</h2>
			<h3>We are seeking talented Mechanics and Paint Artists in all 3 of our offices. Apply today and become part of an amazing team!</h3>
		</div>
	</div>

	<div class='location'>
		<div class="row">
			<div class="img-bg">
				<div class='img'></div>
				<h4>Boston</h4>
			</div>
			<div class="img-bg">
				<div class='img'></div>
				<h4>Los Angeles</h4>
			</div>
			<div class="img-bg">
				<div class='img'></div>
				<h4>New York</h4>
			</div>
		</div>
	</div>

	<div class='jobs'>
		<div>
			<h2>Follow the career links below to read full job descriptions.</h2>
		</div>
		<div class='job-container'>
			<div>
				<a href="#">Mechanic Boston</a>
				<a>Engine Specialist Boston</a>
				<a>Paint Specialist Boston</a>
				<a>Custom Leather Boston</a>
			</div>
			<div>
				<a>Mechanic Los Angeles</a>
				<a>Engine Specialist Los Angeles</a>
				<a>Paint Specialist Los Angeles</a>
				<a>Custom Leather Los Angeles</a>
			</div>
			<div>
				<a>Mechanic New York</a>
				<a>Engine Specialist New York</a>
				<a>Paint Specialist New York</a>
				<a>Custom Leather New York</a>
			</div>
		</div>

	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>