<!DOCTYPE html>
<html>
<head>
	<% include partials/links.ejs %>
	<% include partials/scripts.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
</head>
<body>
	<% include partials/header.ejs %>

	<div class='header'>
		<div>
			<h1>Contact</h1>
		</div>
	</div>

	<div class='main-img'>
		<div>
			<div class='img-container'>
				<img src="/images/contact/shop.jpg">
			</div>
		</div>
		<div class='info'>
			<span class='icon fa fa-thumb-tack fa-3x'></span>
			<h4>New York</h3>
			<p>405 Avenue B</br>Suite 392</br>New York, NY 10174</br>1-425-555-2452</br>Ext. 124</br><span>info@motorcycles.com</span></p>
		</div>
	</div>

	<% include partials/footer.ejs %>
</body>
</html>