<!DOCTYPE html>
<html>
<head>

	<% include partials/links.ejs %>
	<% include partials/scripts.ejs %>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>


	<header>
		<div class = 'bg-image'></div>
		<nav>
			<a href="/"><img src="images/logo.png"></a>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/careers">Careers</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>	

	<div class='container'>
		<div class='project-section'>
			<div class='header'>
				<h1>featured</h1>
				<h3>Check out our latest creations in motorcycle technology and development.</h3>
			</div>
			<div class='project-images'>
				<div>
					<img src="images/samplework/bike1a.jpg">
				</div>
				<div>
					<img src="images/samplework/bike2a.jpg">
				</div>
				<div>
					<img src="images/samplework/bike3a.jpg">
				</div>
				<div>
					<img src="images/samplework/bike4a.jpg">
				</div>
			</div>
			<div class='more-projects'>
				<a href="/work" class='btn-view'>View Our Work</a>
			</div>
		</div>

		<div class='approach-section'>
			<div class='header'>
				<h1>approach</h1>
				<h3>We don’t just take your order and serve you a motorcycle, we take the time to get to know you and understand your needs and objectives as part of our Mixology 101 approach.</h3>
			</div>
			<div class='approach-images'>
				<div class='image'>
					<img src="images/skills/fabrication.jpg">
					<div></div>
					<div>
						<p>Fabrication</p>
					</div>
				</div>
				<div class='image'>
					<img src="images/skills/speed.jpg">
					<div></div>
					<div>
						<p>Speed</p>
					</div>
				</div>
				<div class='image'>
					<img src="images/skills/paint.jpg">
					<div></div>
					<div>
						<p>Paint</p>
					</div>
				</div>
			</div>
			<div class='closer'>
				<div>
					<h3>“With unwavering passion…we craft visually stunning, highly functional and user friendly websites and mobile apps”</h3>
				</div>
				<p>V</p>
			</div>
		</div>

		<div class='client-section'>
			<div class='header'>
				<h1>Clients</h1>
				<h3>From start-ups to fortune 100 we’ve worked with great clients and great people since 1998.</h3>
			</div>
			<div class='client-images'>
				<div class='image'>
					<img src="images/companyLogos/bmw.png">
				</div>
				<div class='image'>
					<img src="images/companyLogos/harley.png">
				</div>
				<div class='image'>
					<img src="images/companyLogos/honda.png">
				</div>
				<div class='image'>
					<img src="images/companyLogos/indian.png">
				</div>
				<div class='image'>
					<img src="images/companyLogos/kawasaki.png">
				</div>
				<div class='image'>
					<img src="images/companyLogos/victory.png">
				</div>
				<div class='image'>
					<img src="images/companyLogos/yamaha.png">
				</div>
			</div>
			<!-- arrow -->
			<div class='arrow'>
				<div>
					<span class='fa fa-arrow-down fa-3x'></span>
				</div>
			</div>

		</div>

		<div class='philosophy-section'>
			<div class='header'>
				<h4>Motor Oil Philosophy</h4>
				<p>Variety, americano a cream caramelization single shot half and half body dark instant fair trade. Caffeine, flavour mug id, turkish aged affogato foam carajillo fair trade. Eu grinder extra brewed shop viennese sugar saucer in frappuccino mocha. Café au lait skinny eu a aromatic caffeine kopi-luwak robusta single shot roast brewed. Coffee instant, strong crema in mug cultivar. Blue mountain instant shop grinder coffee cup siphon. Brewed et doppio kopi-luwak grinder doppio flavour. Aftertaste extra foam beans eu french press iced.</p>
			</div>
		</div>

	</div>


	<% include partials/footer.ejs %>



</body>
</html>