<!DOCTYPE html>
<html>
<head>
	<% include partials/links.ejs %>
	<% include partials/scripts.ejs %>
	<link rel="stylesheet" type="text/css" href="stylesheets/services.css">
	<script type="text/javascript" src="javascripts/slider.js"></script>
</head>
<body>
	<% include partials/header.ejs %>

	<div class='text-spacing'>
		<h1>SERVICES</h1>
		<h3>Exceptional creativity mixed with vision, marketing and cutting edge-technology is what we pour behind the bar at Lounge Lizard. Then we add a flame to fashion an exciting, eye-catching final product that makes the competitors wish they had what you’re having.</h3>
	</div>

	<div class='container'>
		<div class='nav'>
			<ul>
				<li id='slider-selected'><a href="javascript:void(0)">Brands</a></li>
				<li><a href="javascript:void(0)">Designs</a></li>
				<li><a href="javascript:void(0)">Engines</a></li>
				<li><a href="javascript:void(0)">Paint</a></li>
				<li><a href="javascript:void(0)">Racing</a></li>
			</ul>
		</div>
	</div>

	<div>
		<div class="slider-container">
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto1.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto2.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto3.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto4.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto5.png">
				</div>
			</div>
		</div>
	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>