<!DOCTYPE html>
<html>
<head>
	<% include partials/links.ejs %>
	<% include partials/scripts.ejs %>
	<link rel="stylesheet" type="text/css" href="stylesheets/services.css">
	<script type="text/javascript" src="javascripts/slider.js"></script>
</head>
<body>
	<% include partials/header.ejs %>

	<!-- header -->
	<div class='text-spacing'>
		<h1>SERVICES</h1>
		<h3>Exceptional creativity mixed with vision, marketing and cutting edge-technology is what we pour behind the bar at Lounge Lizard. Then we add a flame to fashion an exciting, eye-catching final product that makes the competitors wish they had what you’re having.</h3>
	</div>

	<!-- slider nav -->
	<div class='container'>
		<div class='nav'>
			<ul>
				<li id='slider-selected'><a href="javascript:void(0)">Brands</a></li>
				<li><a href="javascript:void(0)">Designs</a></li>
				<li><a href="javascript:void(0)">Engines</a></li>
				<li><a href="javascript:void(0)">Paint</a></li>
				<li><a href="javascript:void(0)">Racing</a></li>
			</ul>
		</div>
	</div>

	<!-- sliders -->
	<div>
		<div class="slider-container">
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto1.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto2.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto3.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto4.png">
				</div>
			</div>
			<div class="slide">
				<div>
					<h3>Your Brand Identity Should Be Stamped On All You Do</h3>
					<p>Branding is one of the most important ingredients to the success of any business. It tells customers who you are and distinguishes you from your competitors. We strategically pour your identity into the final product in a way that produces imaging concepts that will resonate with your target audience and make you stand out among even the largest crowd.</p>
				</div>
				<div>
					<img src="/images/icons/motor/moto5.png">
				</div>
			</div>
		</div>
	</div>

	<!-- arrow -->
	<div class='arrow'>
		<div>
			<span class='fa fa-arrow-down fa-3x'></span>
		</div>
	</div>

	<!-- experience -->
	<div class='container'>
		<div class='spacing'>
			<h1>EXPERIENCE</h1>
			<h3>Our experience spans across all industries and specialty areas. If you don’t see what your looking for
	call us and we’ll tap into our archives dating back to 1998.</h3>
		</div>
	</div>

	<!-- grey tiles -->
	<div class="container tiles grey">
		<div class="row">
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>B2B</h4>
				<h5>Products or services to businesses large or small</h5>
			</div>
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>NON-PROFIT</h4>
				<h5>Products or services to businesses large or small</h5>
			</div>
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>B2C</h4>
				<h5>Products or services to businesses large or small</h5>
			</div>
		</div>
		<div class="row">
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>CUSTOM</h4>
				<h5>Products or services to businesses large or small</h5>
			</div>
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>SOCIAL</h4>
				<h5>Products or services to businesses large or small</h5>
			</div>
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>SHOP</h4>
				<h5>Products or services to businesses large or small</h5>
			</div>
		</div>
	</div>

	<!-- arrow -->
	<div class='arrow'>
		<div>
			<span class='fa fa-arrow-down fa-3x'></span>
		</div>
	</div>

	<!-- expertise -->
	<div class="container">
		<div class="spacing">
			<h1>EXPERTISE</h1>
			<h3>We serve up mouthwatering work that will have your customers
staying until closing time.</h3>
		</div>
	</div>

	<!-- green tiles -->
	<div class="contianer tiles green">
		<div class="row">
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>CUSTOM</h4>
				<div class='list'>
					<ul>
						<li>One</li>
						<li>Two</li>
					</ul>
					<ul>
						<li>Three</li>
						<li>Four</li>
					</ul>
				</div>
			</div>
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>SOCIAL</h4>
				<div class='list'>
					<ul>
						<li>One</li>
						<li>Two</li>
					</ul>
					<ul>
						<li>Three</li>
						<li>Four</li>
					</ul>
				</div>
			</div>
			<div class="tile">
				<div class="logo">
					<span class='fa fa-arrow-down fa-5x'></span>
				</div>
				<h4>SHOP</h4>
				<div class='list'>
					<ul>
						<li>One</li>
						<li>Two</li>
					</ul>
					<ul>
						<li>Three</li>
						<li>Four</li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	
	<% include partials/footer.ejs %>
</body>
</html>