<!DOCTYPE html>
<html>
<head>
	<% include partials/links.ejs %>
	<% include partials/scripts.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/work.css">
</head>
<body>
	<% include partials/header.ejs %>

	<div class='header'>
		<div>
			<h1>Work</h1>
			<h3>Check out our latest work in UI/UX design, mobile app development, wearable technology, website design and development, Web app development, and brand strategy.</h3>
		</div>
	</div>

	<div class="image-container">
		<div class="row">
			<div class='two-thirds'>
				<img src="/images/work/1.jpg">
			</div>
			<div class="one-third">
				<img src="/images/work/2.jpg">
			</div>
		</div>
		<div class="row">
			<div class="one-third">
				<img src="/images/work/3.jpg">
			</div>
			<div class="square">
				<div class="one-third">
					<img src="/images/work/4.jpg">
				</div>
				<div class="one-third">
					<img src="/images/work/5.jpg">
				</div>
				<div class="one-third">
					<img src="/images/work/4.jpg">
				</div>
				<div class="one-third">
					<img src="/images/work/5.jpg">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="square">
				<div class="one-third">
					<img src="/images/work/6.jpg">
				</div>
				<div class="one-third">
					<img src="/images/work/7.jpg">
				</div>
				<div class="two-thirds">
					<img src="/images/work/8.jpg">
				</div>
			</div>
			<div class="one-third">
				<img src="/images/work/9.jpg">
			</div>
		</div>
		<div class="row">
			<div class="two-thirds">
				<img src="/images/work/10.jpg">
			</div>
			<div class="one-third">
				<img src="/images/work/11.jpg">
			</div>
		</div>
		<div class="row">
			<div class="one-third">
				<img src="/images/work/12.jpg">
			</div>
			<div class="square">
				<div class="one-third">
					<img src="/images/work/2.jpg">
				</div>
				<div class="one-third">
					<img src="/images/work/13.jpg">
				</div>
				<div class="two-thirds">
					<img src="/images/work/1.jpg">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="square">
				<div class="one-third">
					<img src="/images/work/15.jpg">
				</div>
				<div class="one-third">
					<img src="/images/work/16.jpg">
				</div>
				<div class="two-thirds">
					<img src="/images/work/17.jpg">
				</div>
			</div>
			<div class="one-third">
				<img src="/images/work/18.jpg">
			</div>
		</div>
	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>