<!DOCTYPE html>
<html>
<head>
	<% include partials/links.ejs %>
	<% include partials/scripts.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/work.css">
</head>
<body>
	<% include partials/header.ejs %>

	<div class='header'>
		<div>
			<h1>Work</h1>
			<h3>Check out our latest work in UI/UX design, mobile app development, wearable technology, website design and development, Web app development, and brand strategy.</h3>
		</div>
	</div>

	<div class="image-container">
		<div class='row row-1'>
			<div class='two-thirds'>
				<div class='image'>
					<img src="images/work/1.jpg">
				</div>
			</div>
			<div class='third'>
				<div class='image'>
					<img src="images/work/2.jpg">
				</div>
			</div>
		</div>
		<div class='row row-2'>
		</div>
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'></div>
	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>