.text-spacing{
	text-align: center;
	padding: 140px 0;
}

.text-spacing h1{
	margin-bottom: 50px;
}

.text-spacing h3{
	font-size: 32px;
	margin: 0 auto;
	width: 90%;
	color: #838181;
}

.nav{
	width: 100%;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #838181;
}

.nav li{
	display: inline-block;
	width: 175px;
	padding: 20px 0;
}

.nav a{
	color: #838181;
	width: 100%;
}

#slider-selected{
	border-bottom: 3px solid #FF6A6A;
}

#slider-selected a{
	width: 100%;
	height: 100%;
}

.slide{
	height: 375px;
	display: none;
}

.slide:first-child{
	display: block;
}

.slide > div{
	display: inline-block;
}

.slide > div:first-child{
	width: 60%;
	height: 100%;
	padding: 60px 60px 50px 200px;
	float: left;
	color: #838181;
}

.slide > div:nth-child(2){
	width: 40%;
	height: 100%;
}

.slide h3{
	padding-left: 0;
	margin-bottom: 30px;
	font-size: 35px;
}

.slide p{
	font-size: 18px;
	line-height: 25px;
}

.slide img{
	height: 100%;
	padding: 50px 0;
}

.spacing{
	text-align: center;
	height: 400px;
}

.spacing h1{
	margin-bottom: 40px;
}

.spacing h3{
	font-size: 32px;
	margin: 0 auto;
	width: 70%;
	color: #838181;
}

.tiles .row{
	width: 100%;
	height: 550px;
}

.tiles.grey .tile{
	color: rgb(255, 255, 255);
	background-color: #2e2e2e;
	border: 2px solid lightgrey;
}

.tiles.green .tile{
	color: rgb(255, 255, 255);
	background-color: #85B099;
	border: 2px solid rgb(255, 255, 255);
}

.tile{
	text-align: center;
	width: 33.33%;
	height: 100%;
	display: inline-block;
	float: left;
	padding: 50px 30px;
}

.tile .logo{
	font-size: 40px;
}

.tile h4{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
}

.tile h5{
	font-size: 30px;
	font-weight: lighter;
	color: lightgrey;
}

.tile .list{
	width: 100%;
	margin: 0 auto;

}

.tile ul{
	text-align: left;
	display: inline-block;
	font-weight: lighter;
	font-size: 25px;
	padding: 30px 0px;
}

.tile li{
	list-style: initial;
	margin: 0px 40px 20px 40px;	
}
