html, body{
	width: 100%;
	height: 100%;
}

header{
	height: 100%;
}


.bg-image{
  width: 100%;
  height: 100%;
  background: url(../images/parts.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
}

.container .header{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

.project-section{
	margin-bottom: 25px;
}

.project-images{
	overflow: auto;
	margin-bottom: 50px;
}

.project-images > div{
	width: 50%;
	height: 700px;
	float: left;
	text-align: center;
}

.project-images img{
	width: 85%;
}

.more-projects{
    text-align: center;
}



.approach-images{
	width: 100%;
}

.approach-images > .image{
	width: 33.333333%;
	position: relative;
}

.approach-images > .image p{
	color: white;
	font-size: 3.5em;
	font-weight: 700;
	text-transform: uppercase;
}

.approach-images > .image:nth-child(2){
	left: 33.33%;
}

.approach-images > .image:nth-child(3){
	left: 66.66%;
}

.approach-images .image > div:nth-child(2){
	width: 100%;
	position: absolute;
	background-color: rgba(225, 225, 225, 0.7);
}

.approach-images .image > div:nth-child(3){
	width: 100%;
	margin-top: 50%;
	position: absolute;
	text-align: center;
}

.approach-images .image img{
	width: 100%;
	position: absolute;
	overflow: auto;
}

.appeach-images .image > div > p{
	color: rgb(255,255,255);
	font-size: 3em;
	text-transform: uppercase;
	margin: 0;
}

.approach-section .closer{
	text-align: center;
	padding: 35px 30px;

}

/*client*/
.client-section{
	text-align: center;
	height: 600px;
}

.client-images{
	width: 100%;
	height: 200px;
	padding: 0 50px;
}

.client-images .image{
	float: left;
	width: 14.27%;
	padding: 0 20px;
	overflow: auto;
	height: 100%;
}

.client-images .image img{
	width: 100%;
	vertical-align: center;
}



/*philosophy*/
.philosophy-section .header{
	width: 100%;
	background-color: #FF6A6A;
	padding: 75px 150px;
	margin: 0;
	color: white;
}

.philosophy-section .header h4{
  font-size: 4em;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.philosophy-section .header p{
  font-size: 2em;
  margin: 0;
  line-height: 40px;
  font-weight: 200;
}

