.header{
	text-align: center;
	width: 100%;
	/*height: 600px;*/
	padding: 170px 0px 100px 0;
}

.header h1{
	margin-bottom: 40px;
}

.header h3{
	padding: 0px 100px;
	color: #FF6A6A;
}

.image-container{
	width: 100%;
	margin-bottom: -4px;
}

.row{
	width: 100%;
}

.row > div{
	display: inline-block;
}

.one-third{
	width: 33.33%;
	margin-left: -4px;
	margin-top: -4px;
	display: inline-block;
}

.two-thirds{
	width: 66.66%;
	margin-left: -4px;
	margin-top: -4px;
	display: inline-block;
}

.one-third > img, .two-thirds > img{
	width: 100%;
} 

.square{
	width: 66.66%;
	margin-right: -4px;
}

.float{
	float: left;
}

.square .one-third{
	width: 50%;
}

.square .two-thirds{
	width: 100%;
}